@import "tailwindcss";

@theme {
  --color-purple-brand: #8b5cf6;
  --color-purple-brand-hover: #7c3aed;
  --color-black-bg: #030005;
}

html,
body,
#root {
  width: 100%;
  min-height: 100%;
}

body {
  background: var(--color-black-bg);
  color: #F8FAFC;
  font-family:
    Inter,
    ui-sans-serif,
    system-ui,
    sans-serif;
  overflow-x: hidden;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}